# Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
.vscode/
*.log

# Android
android/.gradle/
android/app/build/
android/local.properties
android/key.properties
*.jks
*.keystore

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# macOS
macos/Pods/
macos/Flutter/ephemeral/

# Platform
*.apk
*.aab
*.ipa
*.app
